<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>文章</title>
    <style type="text/css">
        <%- include ../../public/css/common.css%>
        <%- include ../../public/css/list.css%>
    </style>

</head>
<body>
<div>
    <div id="cur-tag-id" style="display: none"><%= curTag %></div>
    <div class="topbar-container bg">
        <a href="/" class="logo"><img src="/img/logo.png" style="height: 60px;float: left;border: 0"></a>
        <div class="btn-list">文章</div>
        <% if(isLogined){ %>
        <a href="/blogs/publish"><div class="btn-new" title="新建文章">+</div></a>
        <% } %>
        <div class="clearFloat"></div>
        </div>
    </div>
    <div class="main-container">
        <div class="tags-container">
            <% if('全部'==curTag){ %>
            <div class="cur-tag"><%= curTag %></div>
            <% }else{ %>
            <div class="cur-tag"><%= tags[curTag] %></div>
            <% } %>
            <div class="other-tags-container">
                <% if('全部'!=curTag){ %>
                   <a href="/blogs?tag=全部"><div class="tag-item">全部</div></a>
                <% } %>
                <% for(var i in tags){ %>
                  <% if(tags[i]!=tags[curTag]){ %>
                    <a href="/blogs?tag=<%= i %>"><div class="tag-item"><%= tags[i] %></div></a>
                  <% } %>
                <% } %>
            </div>
            <div class="clearFloat"></div>
        </div>
        <div class="blogs-list-container"></div>
        <div class="more-blogs-container"><div class="btn-more">点击加载更多</div></div>
    </div>
</div>

<script src="/js/external/jquery1.3.2.js"></script>
<script type="text/javascript">
    <%- include ../../public/js/common.js%>
    <%- include ../../public/js/list.js%>
</script>
</body>
</html>