<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Bat博客系统</title>
    <style type="text/css">
        <%- include ../../public/css/common.css%>
        <%- include ../../public/css/dialog.css%>
        <%- include ../../public/css/admin.css%>
    </style>
</head>
<body>
<div>
    <div class="topbar-container bg">
        <a href="/"><img src="/public/img/logo.png" class="logo"></a>

        <div class="name">Bat&nbsp;博客系统</div>
        <img class="btn-logout" title="注销" src="/public/img/logout.png">
        <a href="/blogs/publish">
            <div class="btn-new" title="新建文章">+</div>
        </a>

        <div class="clearFloat"></div>
    </div>
    <div class="content">
        <div class="seperator">博客信息</div>
        <div style="display: none" id="blog-info"><%= JSON.stringify(admin, ['blog', 'name', 'email', 'user']) %></div>
        <div class="inof-container">
            <div class="info-item"><span class="info-item-key">博客名称</span><%= admin.blog %></div>
            <div class="info-item"><span class="info-item-key">姓名</span><%= admin.name %></div>
            <div class="info-item"><span class="info-item-key">邮件</span><%= admin.email %></div>
            <div class="info-item"><span class="info-item-key">管理账号</span><%= admin.user %></div>
            <div class="btn-modify-info" onclick="modifyInfo()">修改</div>
            <div class="clearFloat"></div>
        </div>
        <div class="seperator">上传策略</div>
        <div class="upload-policy">
            <div class="upload-policy-cur">
                <% if(policy == 1){ %>
                <div>当前策略：上传到第三方（<a target="_blank" href="http://www.qiniu.com/" style="color: #0066ee">七牛</a>）</div>
                <div>域名：<span id="domain"><%= domain %></span></div>
                <div>空间名：<span id="bucket"><%= bucket %></span></div>
                <% }else{ %>
                <div>当前策略：上传到本地服务器</div>
                <% } %>
                <div class="btn-modify-info" style="line-height: normal" onclick="modify_upload_policy(<%= policy %>)">
                    修改
                </div>
                <div class="clearFloat"></div>
            </div>
            <div class="upload-policy-info">

            </div>

        </div>
        <div class="seperator">数据库</div>
        <div>
            <!--<input type="button" value="上传数据库" class="btn" onclick="upload_db_to_qiniu()">
            <input type="button" value="下载数据库" class="btn" onclick="download_db_from_qiniu()">-->
            <a href="/api/_download_db">
                <div class="btn">导出数据库</div>
            </a>
        </div>
        <div class="seperator">标签</div>
        <div>
            <% for(var i in tags){ %>
            <div class="tag-item">
                <div class="tag-option">
                    <% if(i != 1){ %>
                    <span class="tag-option-item rename" onclick="renameTag(<%= i %>,'<%= tags[i] %>')">重命名</span>
                    <span class="tag-option-item delete" onclick="deleteTag(<%= i %>,'<%= tags[i] %>')">删除</span>
                    <% } %>
                </div>
                <div class="tag-name"><%= tags[i] %></div>
            </div>
            <% } %>
            <div class="tag-item">
                <div class="add-tag" onclick="addTag()" title="新增标签">+</div>
            </div>
            <div class="clearFloat"></div>
        </div>
        <div class="seperator">评论</div>
        <select class="select-comment border-corner">
            <option value="1">未回复</option>
            <option value="2">已回复</option>
        </select>

        <div class="comment-container"></div>
        <div class="more-blogs-container">
            <div class="btn-more">加载更多</div>
        </div>
        <div class="seperator">关于 Bat</div>
        <div>
            <a href="https://github.com/1993hzw/bat" target="_blank"
               style="color: blue">https://github.com/1993hzw/bat</a>
        </div>
        <br><br>
    </div>
</div>
<!--<div id="console"></div>-->

<!-- 查看评论详情的对话框 -->
<div id="dialog-comment-details">
    <div class="dialog-comment-details-bg"></div>
    <div id="comment-main-container"></div>
</div>

<div id="dialog">
    <div class="dialog-bg"></div>
    <div class="dialog-container">
        <div class="dialog-body">
            <div id="content" class="dialog-content">
            </div>
            <div class="dialog-btn-container">
                <div id="cancel" class="dialog-btn">取消</div>
                <div id="enter" class="dialog-btn">确定</div>
            </div>
        </div>
    </div>
</div>

<script src="/public/js/external/jquery1.3.2.js"></script>
<script src="/public/js/external/md5.js"></script>
<script type="text/javascript">
    <%- include ../../public/js/common.js%>
    <%- include ../../public/js/admin.js%>
</script>

</body>
</html>