<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>后天管理</title>
    <style type="text/css">
        <%- include ../../public/css/common.css%>
        <%- include ../../public/css/dialog.css%>
        <%- include ../../public/css/admin.css%>
    </style>
</head>
<body>
<div>
    <div class="topbar-container bg">
        <a href="/"><img src="/img/logo.png" class="logo"></a>

        <div class="name">后台管理</div>
        <a href="/blogs/publish">
            <div class="btn-new">+</div>
        </a>

        <div class="clearFloat"></div>
    </div>
    <div class="content">
        <div class="seperator">博客信息</div>
        <div style="display: none" id="blog-info"><%= JSON.stringify(admin)%></div>
        <div class="inof-container">
            <span class="info-item"><span class="info-item-key">博客名称</span><%= admin.blog %></span>
            <span class="info-item"><span class="info-item-key">作者</span><%= admin.name %></span>
            <span class="info-item"><span class="info-item-key">邮件</span><%= admin.email %></span>
            &nbsp; &nbsp;
            <span class="info-item"><span class="info-item-key">管理账号</span><%= admin.user %></span>
            <span class="info-item"><span class="info-item-key">管理密码</span><%= admin.password %></span>
            &nbsp; &nbsp;
            <span style="color: #0000ee;cursor: pointer" onclick="modifyInfo()">修改</span>
        </div>
        <div class="seperator">数据库</div>
        <div>
            <input type="button" value="上传数据库" class="btn upload">
            <input type="button" value="下载数据库" class="btn download">
        </div>
        <div class="seperator">标签</div>
        <div>
            <% for(var i in tags){ %>
            <div class="tag-item">
                <div class="tag-option">
                    <% if(i!=1){ %>
                    <span class="tag-option-item rename" onclick="renameTag(<%= i %>,'<%= tags[i] %>')">重命名</span>
                    <span class="tag-option-item delete" onclick="deleteTag(<%= i %>,'<%= tags[i] %>')">删除</span>
                    <% } %>
                </div>
                <div class="tag-name"><%= tags[i] %></div>
            </div>
            <% } %>
            <div class="tag-item">
                <div class="add-tag" onclick="addTag()">+</div>
            </div>
            <div class="clearFloat"></div>
        </div>
        <div class="seperator">未回复评论</div>
        <div class="comment-container"></div>
        <div class="more-blogs-container"><div class="btn-more">点击加载更多</div></div>
    </div>
</div>
<div id="console"></div>
<div id="comment-details">
    <div class="comment-details-bg"></div>
    <div id="comment-main-container"></div>
</div>
</div>

<div id="dialog">
    <div class="dialog-bg"></div>
    <div class="dialog-container">
        <div class="dialog-body">
            <div id="content" class="dialog-content">
            </div>
            <div class="dialog-btn-container">
                <div id="cancel" class="dialog-btn">取消</div>
                <div id="enter" class="dialog-btn">确定</div>
            </div>
        </div>
    </div>
</div>

<script src="/js/external/jquery1.3.2.js"></script>
<script type="text/javascript">
    <%- include ../../public/js/admin.js%>
</script>

</body>
</html>