<!DOCTYPE html>
<% var getTime=function(obj){
var v=JSON.parse(obj);
return v.year+"-"+v.month+"-"+v.date+" "+ v.hour+":"+ v.minute+":"+ v.second;
}
var keywords='博客,个人博客,';
for(var i in tags) {
    keywords += tags[i] + ",";
}
%>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="<%= keywords %>" />
    <meta name="description" content="这是我的个人博客！欢迎光临！" />

    <title>首页</title>
    <style type="text/css">
        <%- include ../public/css/common.css%>
        <%- include ../public/css/index.css%>
    </style>

</head>
<body>
<div>
    <div class="top-container bg">
            <img src="/img/logo.png" class="logo">
            <div class="name"><%= blog %></div>
        <% if(isLogined){ %>
        <a href="/blogs/publish"><div class="btn-new">+</div></a>
        <% } %>
        <!--<div class="clearFloat"></div>-->
    </div>
    <div class="content-container">
        <div class="left">
            <div class="seperator">分类</div>
            <div class="blogs-tags-container">
                <a href="/blogs">
                    <div class="tag-item">全部</div>
                </a>
                <% for(var i in tags){ %>
                <a href="/blogs?tag=<%= i %> ">
                    <div class="tag-item"><%= tags[i] %></div>
                </a>
                <% } %>
                <div style="clear: both"></div>
            </div>
            <div style="display: table;padding-top: 20px">
                <div class="seperator">最新文章</div>
                <div class="blogs-list-container">

                    <% for(var i=0;i<rows.length;i++){ %>
                    <div class="blog-item">
                        <a href="/blogs/<%= rows[i].f_id %>"><div class="blog-title"><%= rows[i].f_title %></div></a>
                        <div class="blog-brief"><%= rows[i].f_brief %></div>
                        <div class="blog-details"><span class="blog-tags"><%= tags[rows[i].f_tags] %></span>|
                            <span class="blog-time"><%= getTime(rows[i].f_insert_time) %></span></div>
                        </div>
                    <% } %>

                </div>
            </div>
        </div>
        <div class="right">
            <div>
                <div class="seperator">热门文章</div>
                <div class="hotblogs-container">
                <% for(var i=0; i< hotblogs.length;i++){ %>
                    <a href="/blogs/<%= hotblogs[i].f_id %>"><div class="hotblogs-item"><%= hotblogs[i].f_title %></div></a>
                <% } %>
                </div>
            </div>

            <div>
                <div class="seperator">最新评论</div>
                <div class="comments-container">
                    <% for(var i=0; i< comments.length;i++){ %>
                    <div class="comments-item">
                        <div class="time"><%= getTime(comments[i].f_insert_time) %></div>
                        <div style="font-size: 12px;color: gray"><a class="title" href="/blogs/<%= comments[i].f_blog_id %>"><%=
                            titles[comments[i].f_blog_id] %></a>：
                        </div>
                        <div class="comment"><%= comments[i].f_content %></div>
                    </div>
                    <% } %>
                </div>
            </div>
            <div>
                <div class="seperator">关于我</div>
                <div class="about-me">
                    昵称：<b><%= name %></b>
                    <br>
                    邮箱：<b><%= email %></b>
                    <br>
                    <br>
                    访问量：<%= visits %>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="/js/external/jquery1.3.2.js"></script>
<script type="text/javascript">
    <%- include ../public/js/index.js%>
</script>

</body>
</html>
