<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta name="keywords" content="<%= tags[tag] %>" />
    <meta name="description" content="<%= brief.replace(/\n/g,'。') %>" />

    <title><%= title %></title>
    <link rel="stylesheet" href="/public/css/highlight/github.css">
    <style type="text/css">
        <%- include ../../public/css/common.css%>
        <%- include ../../public/css/markdown.css%>
        <%- include ../../public/css/dialog.css%>
        <%- include ../../public/css/blog.css%>
    </style>
    <script src="/public/js/external/jquery1.3.2.js"></script>
</head>
<body onbeforeunload="alert('exit')">
<div>
    <div id="blog" style="display:none"><%= id %></div>
    <div class="topbar-container bg">
        <a href="/" class="logo"><img src="/public/img/logo.png" style="height: 60px;float: left"></a>
        <a href="/blogs?tag=<%= tag %>"><div class="btn-list border-corner">文章</div></a>
        <% if(isLogined){ %>
        <a href="/blogs/publish"><div class="btn-new" title="新建文章">+</div></a>
        <% } %>
        <div class="clearFloat"></div>
        </div>
    </div>
    <div class="main-container">
        <% if(isLogined){ %>
        <div class="options-container">
            <%
             var topStyle,untopStyle;
            if(top==1) {
                topStyle='style="display:none"';
                untopStyle='style="display:inline"';
            }else{
                topStyle='style="display:inline"';
                untopStyle='style="display:none"';
            }
            %>
            <span class="options btn-top border-corner" id="top" onclick="setTop(1)" <%- topStyle %>>置&nbsp;顶</span>
            <span class="options btn-top border-corner" id="untop" onclick="setTop(0)" <%- untopStyle %>>取消置顶</span>
            <a href="/blogs/edit?id=<%= id %>"><span class="options border-corner">编&nbsp;辑</span></a>
            <span class="options btn-del">删&nbsp;除</span>
        </div>
        <div class="box border-corner"></div>
        <% } %>
        <%   var toptextStyle,privacyStyle;
            if(top==1){
                 toptextStyle='style="display:inline"';
            }else{
                 toptextStyle='style="display:none"';
            }
            if(status==1){
                privacyStyle='style="display:inline"';
            }else{
                privacyStyle='style="display:none"';
            }
          %>
        <!--<div class="clearFloat"></div>-->
        <div class="title-container"><span title="私密" class="top-text" <%- privacyStyle %>>[私]</span><span title="置顶" class="top-text span_top" <%- toptextStyle %>>[顶]</span><%= title %></div>
        <div class="blog-details-container">
            <span class="tags" title="标签"><%= tags[tag] %></span>|<span class="blog-time" title="发布时间"><%= time %></span><span class="blog-time" title="阅读量">(<%= visits %>)</span>
        </div>
        <div class="content-container global-text-size" ><%- html %></div>
        <!-- 私密日志不显示分享组件-->
        <% if(status!=1) {%>
        <div class="others-container" style="display: block">
            <!-- 代码来自百度分享  http://share.baidu.com/ -->
            <!--<span class="last"> < 上一篇 </span><span class="next">  下一篇 ></span>-->
            <div style="float: right" class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
            <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
            <div class="clearFloat"></div>
        </div>
        <% } %>

        <div class="comment-container">
            <div id="input-comment">
            <div class="tip-comment">（请输入评论）</div>
            <textarea class="input-comment"></textarea>
            <div>
                <div class="contact-container">
                    <input type="text" placeholder="您的联系邮箱（选填）" value="您的联系邮箱（选填）" class="input-contact">
                </div>
                    <div class="btn-send border-corner">发&nbsp;送</div>
            </div>
            </div>
            <div class="other-comment-container">
            </div>
            <div class="more-blogs-container"><div class="btn-more">点击加载更多</div></div>
        </div>

    </div>

<div id="topOfBlog">
    TOP
</div>


<div id="dialog">
    <div class="dialog-bg"></div>
    <div class="dialog-container">
        <div class="dialog-body">
            <div id="content" class="dialog-content">确定删除该文章吗？</div>
            <div class="dialog-btn-container">
                <div id="cancel" class="dialog-btn">取消</div>
                <div id="enter" class="dialog-btn">确定</div>
            </div>
        </div>
    </div>
</div>

</div>

<script src="/public/js/external/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript">
    <%- include ../../public/js/common.js%>
    <%- include ../../public/js/blog.js%>
</script>

</body>
</html>